@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*************************************************
* Global Styles
*************************************************/

:root {
    --primary: #fbc257;
    --primary-light: #fccc73;
    --dark-brown: #341413;
    --gray-1: #798092;
    --gray-2: #e6e6ed;
    --white: #ffffff;

    /* Font Size Desktop */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* Font Weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}



/*************************************************
* Text
*************************************************/
a {
    color: var(--dark-brown);
}

a:hover {
    text-decoration: none;
    color: var(--gray-1);
}

a:hover, a:active, a:focus {
    outline: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}


/*************************************************
* Buttons
*************************************************/

.btn {
    padding: 10px 15px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:focus {
    background-color: var(--primary-light);
}

.btn-primary:hover {
    background-color: var(--primary-light);
}

/* Button secondary */

.btn-secondary {
    background-color: var(--gray-2);
    color: var(--gray-1);
}

.btn-secondary:focus {
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
}

.btn-secondary:hover {
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
}


/*************************************************
* Navbar
*************************************************/
.navbar-brand img {
    padding-right: 16px;
}

.navbar-brand span {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--dark-brown);
}

.navbar {
    padding: 10px 0;
}

a.nav-link {
    margin-right: 30px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--dark-brown) !important;
}


/*************************************************
* Hero Section
*************************************************/
section.hero {
    /*margin: 2rem 0;*/
    padding: 1rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 24px 0;
}

.text-label {
    font: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold {
    color: var(--dark-brown);
    font-size: var(--header-2);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-regular {
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

/* testimonial-brand */
.testimonial-brand {
    padding: 24px 0;
}


/*************************************************
* Desktop version
*************************************************/
@media(min-width: 1399.98px) {
    .container {
        width: 84%;
    }

    .testimonial-brand {
        padding: 4rem 5rem;
    }
}

/*************************************************
* Mobile version
*************************************************/
@media(max-width: 576px) {
    /* Navbar */
    .navbar {
        padding: 10px 0;
    }

    a.nav-link {
        margin-right: 7px;
    }

    /* Hero */
    section.hero {
        margin: 2rem 0;
        text-align: center;
    }

    .btn {
        display: block;
    }

    .ms-3 {
        margin-left: 0 !important;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular {
        text-align: center;
    }

    .text-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.hero img {
        margin: 2rem 0;
    }
}


/*************************************************
* Tablet small version
*************************************************/
@media(max-width: 768px) {
    /* Navbar */
    .navbar {
        padding: 10px 0;
    }

    a.nav-link {
        margin-right: 7px;
    }

    /* Hero */
    section.hero {
        margin: 1rem 0;
    }

    .text-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.hero img {
        margin: 2rem 0;
    }
}


/*************************************************
* Tablet medium & large version
*************************************************/
@media(max-width: 992px) {
    /* Navbar */
    .navbar {
        padding: 10px 0;
    }

    a.nav-link {
        margin-right: 7px;
    }

    /* Hero */
    section.hero {
        margin: 1rem 0;
    }

    .text-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    section.hero img {
        margin: 2rem 0;
    }
}



/*************************************************
* Layout
*************************************************/
html{
    height: 100%;
}

body{
    font-family: 'Roboto', Verdana, sans-serif;
    color: rgb(37, 36, 35);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

.wrapper {
    flex: 1 0 auto;
}

footer {
    background: rgba(225, 225, 225, 0.49);
    padding: 2px;
    flex: 0 0 auto;
}


